@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    width: 100% !important;
    
}

html, body {
    height: 100%;
    margin: 0 !important; 
    padding: 0 !important;
    font-family: "Roboto", monospace;
}

body {
    overflow-x: hidden;
    background-image: url('assets/img/sky+drone.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
}


.header .navbar{

}

.header {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: rgba(41, 26, 94, 0);
    text-align: center;
    padding: 1rem 0;
    z-index: 1000;
    backdrop-filter: blur(3px);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    transition: all 0.3s ease;
    border-bottom: 1px solid transparent;
}

.header .navbar a {
    /*font-weight: bold;*/
    text-decoration: none;
    color: #121212;
    font-size: 1rem; /* 16 pixel büyüklüğü */
    padding: 0.5rem 1rem;
    display: inline-block;
    margin: 0 6rem; /* sağdaki ve soldakinden 4rem uzaklaşsın */
    position: sticky;
    top: 0;
    width: 15%;
    border-bottom: 0.2rem solid transparent; 
}

.header .navbar .active,
.header .navbar a:hover {
    border-color: var(--main-color);
    padding-bottom: 0.5rem;   
}

/* Responsive Navbar */
@media (max-width: 768px) {

    .header {
        padding: 0.5rem 0; /* Küçük ekranlarda daha az padding */
    }

    .header .navbar a {
        font-size: 0.9rem; /* Mobilde daha küçük font boyutu */
        padding: 0.3rem 0.5rem; /* Daha az padding */
        width: 24%; /* Buton genişliği */
        margin: 2.5%; /* Butonlar arasındaki boşluk */
        text-align: center; /* Metni ortalamak için */
    }
}

@media (max-width: 500px) {

    .header {
        padding: 0.5rem 0; /* Küçük ekranlarda daha az padding */
    }

    .header .navbar a {
        font-size: 0.6rem; /* Mobilde daha küçük font boyutu */
        padding: 0.3rem 0.5rem; /* Daha az padding */
        width: 20%; /* Buton genişliği */
        margin: 2.5%; /* Butonlar arasındaki boşluk */
        text-align: center; /* Metni ortalamak için */
    }
}

.index-header {
    margin-left: 100px;
    padding: 20px 0;
}

.index-header .logo img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
/*INDEX*/



.vizmis {
    width: 100vw;
    margin-left: 0;    
}

.vizmis .title {
    background-color: #00274d;
    height: 10vw;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
}

.vizmis .projects {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1; /* As z-index is greater value it will appear top */
    padding-bottom: 50px;
}

.vizmis .projects .project {
    width: 35vw;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
}

/* Responsive for vizmis */
@media (max-width: 768px) {
    .index-header {
        margin-left: 0px;
        text-align: center;
        padding: 20px 0;
    }
    
    .index-header .logo img {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .vizmis .projects .project {
        width: 80vw;
    }
}

.vizmis .projects .project .title {
    text-align: center;
    background-color: white;
    height: fit-content;
    color: #001f3b;
    font-weight: 400;
    margin-bottom: 0;
}

.vizmis .projects .project .divider {
    width: 100%;
    max-width: 400px;
    height: 5px;
    background-color: #001f3b;
    border: none;
    margin: 0 auto;
}

.vizmis .projects .project .content {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    line-height: 1.5;
}

.hedeflerimiz {
    width: 100vw;
    margin-left: 0;
    margin-top: 5vw;
}

.hedeflerimiz .title {
    background-color: #00274d;
    height: 10vw;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
}

.hedeflerimiz .projects {
    position: relative;
    background-image: url("images/buyuk_drone.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
    margin-top: 10vh;
    padding-bottom: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

.hedeflerimiz .projects::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
}

.hedeflerimiz .projects .project {
    width: 35vw;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
}

/* Responsive for hedeflerimiz */
@media (max-width: 768px) {
    .hedeflerimiz .projects {
        background-size: contain; /* Mobilde arka planı içeriğe göre küçült */
        background-position: center; /* Arka planın ortalanması */
        padding-bottom: 100px; /* Alt padding'i de küçült */
    }
    .hedeflerimiz .projects .project {
        width: 80vw;
    }
}

.hedeflerimiz .projects .project .title {
    text-align: center;
    background-color: transparent;
    height: fit-content;
    color: #001f3b;
    font-weight: 400;
    margin-bottom: 0;
}

.hedeflerimiz .projects .project .divider {
    width: 100%;
    max-width: 400px;
    height: 5px;
    background-color: #001f3b;
    border: none;
    margin: 0 auto;
}

.hedeflerimiz .projects .project .content {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    line-height: 1.5;
}

.index-footer {
    background-image: url("assets/img/upside.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding-top: 100px;
}

.index-footer .contact {
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.index-footer h3 {
    color: #333;
}

.index-footer .contact a {
    color: black;
    text-decoration: none;
}

.index-footer .contact a:hover {
    color: #333;
}

.index-footer .contact .socials img {
    width: 30px;
    margin: 0 10px;
}

.index-footer .contact .socials img:hover {
    transform: scale(1.2);
}

.index-footer .logo img {
    width: 100px;
    margin-bottom: 50px;
}

/* Responsive for index footer */
@media (max-width: 768px) {
    .index-footer {
        flex-direction: column;
        align-items: center;
    }
    .index-footer .contact {
        font-size: 14px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
}

/*HAKKIMIZDA*/
@media (max-width: 768px) {
    .about-us .title {
        width: 60vw !important;
        height: 10vh !important;
    }
    .about-us .content {
        font-size: 12px !important;
    }

}




.about-us .title {
    background-color: #001f3be1;
    color: white;
    width: 30vw;
    height: 15vh;
    margin-top: 5vh;
    text-align: center;
    display: flex;
    justify-content: center; /* centers horizontally */
     align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
h5{
    font-weight: 200;
    font-size: 4vh;
}

.about-us .content {
    margin: auto;
    width: 67vw;
    margin-top: 5vw;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
}

footer.about-us {
    margin-top: 10vw;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer.about-us h3 {
    color: #333;
}

footer.about-us .contact {
    text-align: center;
    margin-bottom: 20px;
}

footer.about-us .contact a {
    color: black;
    text-decoration: none;
}

footer.about-us .contact a:hover {
    color: #333;
}

footer.about-us .socials img {
    width: 30px;
    margin: 0 10px;
}

footer.about-us .socials img:hover {
    transform: scale(1.2);
}

footer.about-us .logo img {
    width: 150px;
    margin-top: -100px;
}

/* EKİPLERİMİZ */
.team-section {
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 90vw;
}

.ekip-header {
    display: flex;
    margin-top: 5vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ekip-header .logo img {
    margin-right: 15px;
    width: 25vw;}

.here{ 
    margin-top: 5vh !important;
}

.ekip-header .title {
    background-color: #001f3be1;
    color: white;
    width: 30vw;
    height: 15vh;
    text-align: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
@media (max-width: 768px) {
    .ekip-header .title {
        width: 60vw !important;
        height: 10vh !important;

    }
    .h5c{
        font-size: 2vh !important;
    }
}


.team-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #00274d;
}

.team-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
}

.team-description {
    width: 50%;
}

.team-group h3 {
    color: #001f3b;
    font-size: 1.8rem;
    text-decoration: underline;
    text-align: center;
}

.team-group p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.team-group ul {
    width: 40%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.team-group ul li {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.team-group ul li img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.team-group ul li b {
    font-size: 1.1rem;
    color: #001f3b;
}

/* Responsive for team-section */
@media (max-width: 768px) {
    .team-description {
        width: 100%;
    }

    .team-section{
        width: 80vw;
    }

    .team-group h3 {
        font-size: 1.2rem;

    }
    .team-group p {
        font-size: 12px !important;
    }


    .team-group {
        margin-top: 10px !important;
    }

    .team-group ul {
        width: 100%;
    }
    .team-group ul li img {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        border-radius: 50%;
        object-fit: cover;
    }
    
    span{
        font-size: 0.7rem;
    }

    .team-group ul li b {
        font-size: 0.7rem;
        color: #001f3b;
    }
}

.ekip-footer {
    background-image: url("assets/img/upside.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    padding: 50px 0;
}

.ekip-footer img {
    width: 100px;
    margin-right: 50px;
}

/*SPONSORS*/


.sponsor-header {
    display: flex;
    margin-top: 5vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sponsor-header .logo img {
    margin-right: 10px;
    width: 25vw;
}

.sponsor-header .title {
    background-color: #001f3be1;
    color: white;
    width: 30vw;
    height: 15vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

h5{
    font-weight: 200;
    font-size: 4vh;
}

@media (max-width: 768px) {
    .sponsor-header .title {
        width: 60vw !important;
        height: 10vh !important;

    }
    .h5c{
        font-size: 2vh !important;
    }
}


.sp{
    border: 8px solid black;
}


.sponsors {
    margin: auto;
    width: 70vw;
    margin-top: 0px;
}

.sponsors .av-yusuf-demir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-weight: bold;
}

.sponsors .av-yusuf-demir img {
    width: 50%;
    border-radius: 5px;
}

.sponsors .yesil-cizgi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    font-weight: bold;
}

.sponsors .yesil-cizgi img {
    width: 50%;
    border-radius: 5px;
}

.sponsors .dasal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    font-weight: bold;
}

.sponsors .dasal img{
    width: 50%;
    border-radius: 5px;
}


.sponsors .aselsan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-weight: bold;
}
.sponsors .aselsan img{
    width: 50%;
    border-radius: 5px;
}

.sponsors .rftr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-weight: bold;
}
.sponsors .rftr img{
    width: 50%;
    border-radius: 5px;
}

/* Responsive for sponsors */
@media (max-width: 768px) {
    .sponsors .av-yusuf-demir img,
    .sponsors .yesil-cizgi img,
    .sponsors .aselsan img,
    .sponsors .rftr img,
    .sponsors .dasal img{
        width: 90%;
    }
}

.mak {
    height: 15vh !important ;
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

.sponsor-footer {
    background-image: url("assets/img/upside.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    font-size: 25px;
    margin-top: 100px;
}


/* Responsive for sponsors */
@media (max-width: 768px) {
    .sponsors .av-yusuf-demir img,
    .sponsors .yesil-cizgi img,
    .sponsors .aselsan img {
        width: 90%;
    }
    .kendi{
        font-size: 10px !important;
    }
}
.kendi{
    font-size: 25px;
}
.sponsor-footer img {
    width: 100px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
}

/*Positions*/



.positions .title {
    background-color: #001f3be1;
    color: white;
    width: 30vw;
    height: 15vh;
    margin-top: 5vh;
    text-align: center;
    display: flex;
    justify-content: center; /* centers horizontally */
     align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
h5{
    font-weight: 200;
    font-size: 4vh;
}

@media (max-width: 768px) {
    .positions .title {
        width: 60vw !important;
        height: 10vh !important;
    }
    .positions .content {
        font-size: 12px !important;
    }

}



@media (max-width: 868px) {
    .positions .content {
        flex-direction: column; /* Küçük ekranlarda sütunlar alt alta gelsin */
        margin-left: 5vh; /* Küçük ekranlarda kenar boşluğu daraltıldı */
        margin-right: 5vh;
    }

    .positions .column {
        width: 100%; /* Sütun genişliği tüm ekranı kapsasın */
        margin-bottom: 20px;
    }
}

.positions .content{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 5vh;
    margin-left: 10vh;
    margin-right: 10vh;
    align-items: flex-start;
}

.positions.content.column {
    margin-bottom: 20px;
    width: 30%; /* Sütun genişlikleri */
}

.positions.content h3 {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
}

.positions.content ul {
    list-style-type: disc;
    padding-left: 20px; /* Madde işaretlerinin kenardan uzaklığı */
}

.positions.content li {
    margin-bottom: 8px; /* Her liste öğesi arasında boşluk */
}

.positions.content li strong {
    font-weight: bold;
}

.positions-footer {
    background-image: url("assets/img/upside.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding-top: 100px;
}

.positions-footer .contact {
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.positions-footer h3 {
    color: #333;
}

.positions-footer .contact a {
    color: black;
    text-decoration: none;
}

.positions-footer .contact a:hover {
    color: #333;
}

.positions-footer .contact .socials img {
    width: 30px;
    margin: 0 10px;
}

.positions-footer .contact .socials img:hover {
    transform: scale(1.2);
}

.positions-footer .logo img {
    width: 200px;
    margin-bottom: 50px;
}

/* Responsive for index footer */
@media (max-width: 768px) {
    .positions-footer {
        flex-direction: column;
        align-items: center;
    }
    .positions-footer .contact {
        font-size: 14px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
}

/*İLETİŞİM*/
.contact-us-form {
    width: 50vw;
    margin-top: 5vh;
    margin-left: 25vw;
    display: flex;
    flex-direction: column;
}

.contact-us-form div {
    margin-bottom: 1.5rem;
}

.name-div {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.name-div p {
    flex: 1;
}

.contact-us-form input,
.contact-us-form select,
.contact-us-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label.required:after {
    content: " *";
    color: red;
}

.submit-button {
    margin-top: 1rem;
    color: white;
    padding: 10px 20px;
    background-color: #001f3be1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/*Yol Haritamız*/
.path .title {
    background-color: #001f3be1;
    color: white;
    width: 30vw;
    height: 15vh;
    margin-top: 5vh;
    margin-bottom: 10vh;
    text-align: center;
    display: flex;
    justify-content: center; /* centers horizontally */
     align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

h5{
    font-weight: 200;
    font-size: 4vh;
}

@media (max-width: 768px) {
    .path .title {
        width: 60vw !important;
        height: 10vh !important;
    }
    .path .content {
        font-size: 12px !important;
    }

}

.first{
    background-image: url('images/kucuklogo.png') !important;
    background-size: cover; /* Görüntüyü kapsayacak şekilde sığdır */
    background-position: center; /* Görüntüyü ortala */
    background-repeat: no-repeat;
}

.second{
    background-image: url('images/drone.png') !important;
    background-size: cover; /* Görüntüyü kapsayacak şekilde sığdır */
    background-position: center; /* Görüntüyü ortala */
    color: #001f3be1 !important;
    background-repeat: no-repeat;
    text-shadow:
                -1px -1px 0 #ffffff,  
                 1px -1px 0 #ffffff,
                -1px  1px 0 #ffffff,
                 1px  1px 0 #ffffff;
}
.thir{
    background-image: url('images/ekipman.jpeg') !important;
    background-size: cover; /* Görüntüyü kapsayacak şekilde sığdır */
    background-position: center; /* Görüntüyü ortala */
    color: white !important;
    background-repeat: no-repeat;
    text-shadow:
                -1px -1px 0 #000,  
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 1px  1px 0 #000;
}

.re {
    margin-left: 10px !important;
}

.im{
    margin-right: 10px !important;
}

.xdddd{
    margin-bottom: 5vh;
}

@media (max-width: 768px) {
    .textp{
        font-size: 2.6vw !important;
    }

}

  .gallery-cell {
    padding: 10px;
    text-align: center;
    width: 40%;
    height: 20vw;
    margin-right: 10px;
    counter-increment: gallery-cell;
    border-radius: 40px;
    background-color:#001f3be1;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;

  }
  
.textp{
    font-size: 1.2vw;
}
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
  }



footer .path {
    margin-top: 10vw;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .path h3 {
    color: #333;
}

footer .path .contact {
    text-align: center;
    margin-bottom: 20px;
}

footer .path .contact a {
    color: black;
    text-decoration: none;
}

footer .path .contact a:hover {
    color: #333;
}

footer .path .socials img {
    width: 30px;
    margin: 0 10px;
}

footer .path .socials img:hover {
    transform: scale(1.2);
}

footer .path .logo img {
    width: 150px;
    margin-top: -100px;
}
