@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", monospace;
}

body {
    background-image: url('assets/img/sky+drone.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

nav{
    margin-left: 0;
    height: 15vw;
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: -50px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: 100;
}


/*HAKKIMIZDA*/

.about-us .title{
    background-color: #001f3be1;
    color: white;
    width: 30vw;
    height: 6vw;
    text-align: center;
    padding-top: 3vw;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: 200;
    font-size: 30px;
}

.about-us .content{
    margin: auto;
    width: 67vw;
    margin-top: 5vw;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
}

footer.about-us{
    margin-top: 10vw;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}

footer.about-us h3 {
    color: #333;
}

footer.about-us .contact {
    text-align: center;
    margin-bottom: 20px;
}

footer.about-us .contact a {
    color: black;
    text-decoration: none;
}

footer.about-us .contact a:hover{
    color: #333;
}

footer.about-us .socials img {
    width: 30px;
    margin: 0 10px;
}

footer.about-us .socials img:hover{
    transform: scale(1.2);
}

footer.about-us .logo img {
    width: 300px;
    margin-top: -100px;
}

/* EKİPLERİMİZ */
.team-section {
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 90vw;
}

.team-section .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team-section .header .logo img {
    width: 300px;
}

.team-section .title{
    background-color: #001f3be1;
    color: white;
    width: 30vw;
    height: 6vw;
    text-align: center;
    padding-top: 3vw;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: 200;
    font-size: 30px;
}

.team-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #00274d;
}

.team-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.team-group.last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.team-description {
    width: 50%;
}

.team-group h3 {
    color: #001f3b;
    font-size: 1.8rem;
    text-decoration: underline;
    text-align: center;
}

.team-group p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.team-group ul {
    width: 40%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.team-group ul li {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.team-group ul li img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.team-group ul li b {
    font-size: 1.1rem;
    color: #001f3b;
}

.ekip-footer{
    background-image: url("assets/img/upside.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -100px;
    display: flex;
    justify-content: end;
}

.ekip-footer img{
    width: 100px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
}

/*SPONSORS*/
.sponsors {
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 70vw;
    margin-top: 0;
}

.sponsor-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sponsor-header .logo img {
    width: 300px;
    margin-right: 50px;
}

.sponsor-header .title{
    background-color: #001f3be1;
    color: white;
    width: 30vw;
    height: 6vw;
    text-align: center;
    padding-top: 3vw;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: 200;
    font-size: 30px;
}

.sponsors .av-yusuf-demir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-weight: bold;
}

.sponsors .av-yusuf-demir img{
    width: 50%;
    border-radius: 5px;
}

.sponsors .yesil-cizgi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    font-weight: bold;
}

.sponsors .yesil-cizgi img{
    width: 40%;
    border-radius: 5px;
}

.sponsor-footer{
    background-image: url("assets/img/upside.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    font-size: 25px;
    margin-top: 100px;
}

.sponsor-footer img{
    width: 100px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

:root{
  --main-color: #0a1f44;
  --black-color: #0e0e0e;
  --border: 0.1rem solid rgba(255,255,255,0.4);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
}

html {
  font-size: 62.5%; /* 1 rem = 10 pixel */
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
  margin: 0; /* Sayfanın üst ve alt boşluklarını kaldırır */
  height: 200vh;

}

/*header start*/
.header {
  position: sticky;
  width: 100%;
  top: 0;
  color: white;
  background-color: transparent;
  text-align: center;
  padding: 1rem 0;
  z-index: 1000;
}

.header .navbar a {
  color: #121212;
  font-size: 1.6rem;/*16 pixel büyüklüğü*/
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: 0 4rem;/*sağdaki ve soldakinden 4.5rem uzaklaşsın*/
  position: sticky;
  top: 0;
  border-bottom: 0.2rem solid transparent; 
}

.header .navbar .active,
.header .navbar a:hover {
  border-color: var(--main-color);
  padding-bottom: 0.5rem;
}

/*header end*/

/*home start*/

.home{
  min-height: 100vh;
  background:url(../images/sky+drone+logo3.png) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -8.6rem;
  display: flex;
  
}
.home .content{
  max-width: 60rem;
}

.home .content .misyon h3{
  border-bottom: 0.3rem solid var(--main-color); /* Çizgi rengi ve kalınlığı */
  padding-bottom: 0.5rem; /* Çizgiyi aşağıya kaydırır */
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  font-weight: 500; /* Normal kalınlık */
  letter-spacing: 0.1rem;
  color: #0a1f44;
  top: 32rem;
  left: 105rem;
  position: absolute; /* Position özelliğini ayarlıyoruz */
}

.home .content .misyon p{
  text-align: center; /* Yazıyı ortalar */
  color: var(--main-color);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8;
  padding: 1rem 0; /* Yazının etrafında boşluk bırakır */
  top: 35rem;
  left: 80rem;
  position: absolute; /* Position özelliğini ayarlıyoruz */
}

.home .content .visyon h3{
  border-bottom: 0.3rem solid var(--main-color); /* Çizgi rengi ve kalınlığı */
  padding-bottom: 0.5rem; /* Çizgiyi aşağıya kaydırır */
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  font-weight: 500; /* Normal kalınlık */
  letter-spacing: 0.1rem;
  color: #0a1f44;
  top: 45rem;
  left: 40rem;
  position: absolute; /* Position özelliğini ayarlıyoruz */
}

.home .content .visyon p{
  text-align: center; /* Yazıyı ortalar */
  color: var(--main-color);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8;
  padding: 1rem 0; /* Yazının etrafında boşluk bırakır */
  top: 48rem;
  left: 15rem;
  position: absolute; /* Position özelliğini ayarlıyoruz */
}

/*home end*/

/* projects start */
.projects .content p {
  color: white;
  font-size: 2.8rem;
  background-color: var(--main-color); /* Arka plan rengi */
  padding: 6rem;
  text-align: center; /* Metin ortalama */
}
/*projects end*/

/* iha start */
.iha{
  min-height: 100vh;
  background:url(../images/drone.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5); /* Renginiz ve opaklığınız */
  background-blend-mode: overlay; /* Fotoğraf ve renk arasında karışım */
}

.iha  .content .kiha h3{
  border-bottom: 0.3rem solid var(--main-color); /* Çizgi rengi ve kalınlığı */
  padding-bottom: 0.5rem; /* Çizgiyi aşağıya kaydırır */
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  font-weight: 500; /* Normal kalınlık */
  letter-spacing: 0.1rem;
  color: #0a1f44;
  top: 91rem;
  left: 40rem;
  position: absolute; /* Position özelliğini ayarlıyoruz */
}

.iha .content .kiha p{
  text-align: center; /* Yazıyı ortalar */
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  padding: 1rem 0; /* Yazının etrafında boşluk bırakır */
  top: 94rem;
  left: 9rem;
  position: absolute; /* Position özelliğini ayarlıyoruz */
}

.iha  .content .viha h3{
  border-bottom: 0.3rem solid var(--main-color); /* Çizgi rengi ve kalınlığı */
  padding-bottom: 0.5rem; /* Çizgiyi aşağıya kaydırır */
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  font-weight: 500; /* Normal kalınlık */
  letter-spacing: 0.1rem;
  color: #0a1f44;
  top: 91rem;
  left: 107rem;
  position: absolute; /* Position özelliğini ayarlıyoruz */
}

.iha .content .viha p{
  text-align: center; /* Yazıyı ortalar */
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  padding: 1rem 0; /* Yazının etrafında boşluk bırakır */
  top: 94rem;
  left: 75rem;
  position: absolute; /* Position özelliğini ayarlıyoruz */
}
/* iha end */
/*footer start*/

footer.about-us{
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  background-color: white;
}

footer.about-us h3 {
  color: #333;
}

footer.about-us .contact {
  text-align: center;
  margin-bottom: 20px;
}

footer.about-us .contact a {
  color: black;
  text-decoration: none;
}

footer.about-us .contact a:hover{
  color: #333;
}

footer.about-us .socials img {
  width: 30px;
  margin: 0 10px;
}

footer.about-us .socials img:hover{
  transform: scale(1.2);
}

footer.about-us .logo img {
  width: 200px;
  margin-top: -100px;
}
footer.makers{
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/*footer end*/
