.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

:root{
  --main-color: #0a1f44;
  --black-color: #0e0e0e;
  --border: 0.1rem solid rgba(255,255,255,0.4);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
}

html {
  font-size: 62.5%; /* 1 rem = 10 pixel */
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
  margin: 0; /* Sayfanın üst ve alt boşluklarını kaldırır */

}

/*header start*/
.header {
  position: sticky;
  width: 100%;
  top: 0;
  color: white;
  background-color: transparent;
  text-align: center;
  padding: 1rem 0;
  z-index: 1000;
}

.header .navbar a {
  color: #121212;
  font-size: 1.6rem;/*16 pixel büyüklüğü*/
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: 0 7rem;/*sağdaki ve soldakinden 4.5rem uzaklaşsın*/
  position: sticky;
  top: 0;
  border-bottom: 0.2rem solid transparent; 
}

.header .navbar .active,
.header .navbar a:hover {
  border-color: var(--main-color);
  padding-bottom: 0.5rem;   
}

/*header end*/

/*home start*/

.home{
  height: 120vh;
  
  background:url(../images/sky+drone+logo3.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
  margin-top: -6rem;
  display: flex;
  
}
.home .content{
  max-width: 60rem;
}

.home .content .misyon h3{
  border-bottom: 0.3rem solid var(--main-color); /* Çizgi rengi ve kalınlığı */
  padding-bottom: 0.5rem; /* Çizgiyi aşağıya kaydırır */
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  font-weight: 500; /* Normal kalınlık */
  letter-spacing: 0.1rem;
  color: #0a1f44;
  top: 32rem;
  left: 105rem;
  position: absolute; /* Position özelliğini ayarlıyoruz */
}

.home .content .misyon p{
  text-align: center; /* Yazıyı ortalar */
  color: var(--main-color);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8;
  padding: 1rem 0; /* Yazının etrafında boşluk bırakır */
  top: 35rem;
  left: 80rem;
  position: absolute; /* Position özelliğini ayarlıyoruz */
}

.home .content .visyon h3{
  border-bottom: 0.3rem solid var(--main-color); /* Çizgi rengi ve kalınlığı */
  padding-bottom: 0.5rem; /* Çizgiyi aşağıya kaydırır */
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  font-weight: 500; /* Normal kalınlık */
  letter-spacing: 0.1rem;
  color: #0a1f44;
  top: 45rem;
  left: 40rem;
  position: absolute; /* Position özelliğini ayarlıyoruz */
}

.home .content .visyon p{
  text-align: center; /* Yazıyı ortalar */
  color: var(--main-color);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8;
  padding: 1rem 0; /* Yazının etrafında boşluk bırakır */
  top: 48rem;
  left: 15rem;
  position: absolute; /* Position özelliğini ayarlıyoruz */
}

/*home end*/

/* projects start */
.projects .content p {
  color: white;
  font-size: 2.8rem;
  background-color: var(--main-color); /* Arka plan rengi */
  padding: 6rem;
  text-align: center; /* Metin ortalama */
}
/*projects end*/

/* iha start */
.iha{
  min-height: 90vh;
  background:url(../images/drone.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5); /* Renginiz ve opaklığınız */
  background-blend-mode: overlay; /* Fotoğraf ve renk arasında karışım */
}

.iha  .content .kiha h3{
  border-bottom: 0.3rem solid var(--main-color); /* Çizgi rengi ve kalınlığı */
  padding-bottom: 0.5rem; /* Çizgiyi aşağıya kaydırır */
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: 500; /* Normal kalınlık */
  letter-spacing: 0.1rem;
  color: #0a1f44;
  top: 99rem;
  left: 40rem;
  position: absolute; /* Position özelliğini ayarlıyoruz */
}

.iha .content .kiha p{
  text-align: center; /* Yazıyı ortalar */
  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8;
  padding: 1rem 0; /* Yazının etrafında boşluk bırakır */
  top: 102rem;
  left: 15rem;
  position: absolute; /* Position özelliğini ayarlıyoruz */
}

.iha  .content .viha h3{
  text-align: center;
  border-bottom: 0.3rem solid var(--main-color); /* Çizgi rengi ve kalınlığı */
  padding-bottom: 0.5rem; /* Çizgiyi aşağıya kaydırır */
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: 500; /* Normal kalınlık */
  letter-spacing: 0.1rem;
  color: #0a1f44;
  top: 99rem;
  left: 100rem;
  position: absolute; /* Position özelliğini ayarlıyoruz */
}

.iha .content .viha p{
  text-align: center; /* Yazıyı ortalar */
  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8;
  padding: 1rem 0; /* Yazının etrafında boşluk bırakır */
  top: 102rem;
  left: 74rem;
  position: absolute; /* Position özelliğini ayarlıyoruz */
}
/* iha end */
/*footer start*/

footer.about-us{
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  background-color: white;
}

footer.about-us h3 {
  color: #333;
}

footer.about-us .contact {
  text-align: center;
  margin-bottom: 20px;
}

footer.about-us .contact a {
  color: black;
  text-decoration: none;
}

footer.about-us .contact a:hover{
  color: #333;
}

footer.about-us .socials img {
  width: 30px;
  margin: 0 10px;
}

footer.about-us .socials img:hover{
  transform: scale(1.2);
}

footer.about-us .logo img {
  width: 200px;
  margin-top: -100px;
}
footer.makers{
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/*footer end*/
